<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <a href="/" class="logo"><img alt="Neubloc: Rightsource Software Design and Development" src="http://www.neubloc.com/images/logo.png"></a>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
</div>


    <div class="header-nightsky">
        <nav class="navbar navbar-default">
            <div class="container">
              <%= link_to 'NEUBLOC', root_path, :class => "navbar-brand" %>
                <!-- <a class="navbar-brand" href="/" NEUBLOC</a> -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <%= active_link_to 'Home Page', home_start_path, :wrap_tag => :li %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <%= active_link_to 'About', home_about_path, :wrap_tag => :li %>
                                <%= active_link_to 'Clients', home_clients_path, :wrap_tag => :li %>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">COMMUNITY <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                               <%= active_link_to 'Community', home_community_path, :wrap_tag => :li %>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <%= active_link_to 'JOBS', "https://  www.pracuj.pl/poznaj-pracodawce/neubloc-polska-sp.-z-o.o.,20074328", :wrap_tag => :li %>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><%= active_link_to 'Contact', home_contact_path, :wrap_tag => :li %></a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
