<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <!-- <div class="col-sm-8"> -->
      <a class="logo page-scroll" href="#page-top">
        <img class="logo-lg" alt="Neubloc: Rightsource Software Design and Development" src="<%= asset_path("logo.png") %>">
        <img class="logo-sm" alt="Neubloc: Rightsource Software Design and Development" src="<%= asset_path("logo-sm.png") %>">
      </a>
      <!-- </div> -->

      <!-- <a class="navbar-brand page-scroll" href="#page-top">
              </a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">O nas</a>
        </li>
        <li>
          <a class="page-scroll" href="#nasi_klienci">Nasze projekty</a>
        </li>
        <li>
          <a class="page-scroll" href="#nasz_zespol">Nasz zespół</a>
        </li>
        <li>
          <a class="page-scroll" href="#praca">Praca</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Kontakt</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!--<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
<!--<ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
<!-- <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="http://neubloc-poland.github.io/www-neubloc-pl/www-neubloc-pl/images/home/home-slide-03.jpg" alt="...">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="http://neubloc-poland.github.io/www-neubloc-pl/www-neubloc-pl/images/home/home-slide-02.jpg" alt="...">
            <div class="carousel-caption"></div>
        </div>
        <div class="item">
            <img src="http://neubloc-poland.github.io/www-neubloc-pl/www-neubloc-pl/images/home/home-slide-01.jpg" alt="...">
            <div class="carousel-caption"></div>
        </div>
    </div> -->

<!-- Controls -->
<!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
          <!-- <h1 class="brand-heading">Grayscale</h1>
                    <p class="intro-text">A free, responsive, one page Bootstrap theme.<br>Created by Start Bootstrap.</p>
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a> -->
        </div>
      </div>
    </div>
  </div>
</header>
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-0">
      <h3>O neubloc</h3>
      <p>Działalność Neubloc ma swoje początki w późnych latach 90-tych, kiedy to grupa doświadczonych menedżerów z Doliny Krzemowej i San Diego przeprowadziła szereg udanych projektów restrukturyzacyjnych w firmach sektora Nowoczesnych Technologii. W ramach prowadzonych działań przejęli z powodzeniem konglomerat firm informatycznych ze Stanów Zjednoczonych i Europy Środkowo-Wschodniej i z pomocą tej wysoko wykwalifikowanej kadry inżynierskiej skutecznie zrestrukturyzowali przejęte wcześniej amerykańskie firmy technologiczne. Ostatecznie podjęto decyzję o profesjonalnym wykorzystaniu posiadanego potencjału i zaoferowaniu usług innym firmom technologicznym. W ten sposób powstał Neubloc.</p>
    <p>Łączna wartość sprzedaży Ameritege, Neubloc i ich kluczowych klientów jest liczona w  	miliardach dolarów, a ich klienci obejmują znaczącą część firm z listy największych  	światowych firm „Global 1000”.</p>
    <p>Model procesu firmy Neubloc, Building Blocs, wdraża rozwój i był wielokrotnie wykorzystywany przez globalne firmy zajmujące się rozwojem produktów. Neubloc w rozwoju produktów i usług przygotował swoich pracowników, aby myśleć inaczej niż typowe firmy inżynieryjne z outsourcingu, ponieważ wiemy, czego potrzeba, aby dostarczyć komercyjnie opłacalne, wspierane, konserwowalne, jakościowe projekty i rozwiązania.</p>
    </div>
  </div>
</section>

<!-- nasi klienci Section -->
<section id="nasi_klienci" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Nasze projekty</h2>
        <p>You can download Grayscale for free on the preview page at Start Bootstrap.</p>
        <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default-outline btn-lg">Visit Download Page</a>
      </div>
    </div>
  </div>
</section>

<!-- Nasz zespol Section -->
<section id="nasz_zespol" class="content-section text-center">
  <div class="">
    <div class="container">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Nasz zespół</h2>
        <div class="row">
          <div class="col-sm-6">
            <div class="team-member">
              <img src="<%= asset_path("10.jpg") %>" class="img-responsive img-circle center-block" alt="">
              <h4>Paweł Konon</h4>
              <h6 class="text-muted">President & CEO</h6>
              <ul class="list-inline social-buttons">
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="team-member">
              <img src="<%= asset_path("2.jpg") %>" class="img img-responsive img-circle center-block" alt="">
              <h4>Grzegorz Szostak</h4>
              <h6 class="text-muted">CTO</h6>
              <ul class="list-inline social-buttons">
                <li>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- <div class="col-sm-4">
                        <div class="team-member">
                            <img src="<%= asset_path("3.jpg") %>" class="img img-responsive img-circle center-block" alt="">
                            <h4>Diana Pertersen</h4>
                            <p class="text-muted">Lead Developer</p>
                            <ul class="list-inline social-buttons">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Praca Section -->
<section id="praca" class="content-section text-center">
  <div class="download-section">
    <div class="container">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Oferty pracy</h2>
        <% if @entriesArray.length == 0 %>
        <a href="#praca" class="btn btn-lg btn-light-outline mt-3">Aktualnie nie poszukujemy pracowników</a>
        <!-- <a href="https://www.pracuj.pl/poznaj-pracodawce/neubloc-polska-sp.-z-o.o.,20074328" class="btn btn-default btn-lg">Zobacz oferty pracy</a> -->
      <% else %>
        <%= render 'scrape_pracuj_pl'  %>
        <% end %>

      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-lg-offset-0">
        <h2>Neubloc Polska</h2>
        <h5>Aleja Korfantego 125A</h5>
        <h5>40-156 Katowice</h5>
        <h5>Telefon: +48 32 201 04 74</h5>
        <h5>Fax: +48 32 259 74 96</h5>
        <p>
          <a href="mailto:info@neubloc.com">info@neubloc.com</a>
        </p>
        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/SBootstrap" class="btn btn-primary-outline btn-block">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-primary-outline btn-block">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li>
            <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-primary-outline btn-block">
              <i class="fa fa-google-plus fa-fw"></i>
              <span class="network-name">Google+</span>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <!-- Map Section -->
  <div id="map"></div>
</section>

<!-- Footer -->
<footer>
  <div class="container text-center">
    <p>&copy; Copyright 2017 by Neubloc, LLC. All rights reserved</p>
  </div>
</footer>
