<%= form_with(model: location, local: true) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :location_name %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, id: :location_info %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url, id: :location_url %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.text_field :job_id, id: :location_job_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
