<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @location.info %>
</p>

<p>
  <strong>Url:</strong>
  <%= @location.url %>
</p>

<p>
  <strong>Job:</strong>
  <%= @location.job %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
